<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Or Ham Detection Module</title>
    <!-- Url referenced to static/CSS/project.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/project.css')}}">
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar">
        <a href="#" class="navbar-brand">
            <img src="{{ url_for('static', filename='icon_navbar.svg')}}" alt="Logo">
            Spam Or Ham Detection Module
        </a>
    </nav>

    <!-- Container-->
    <div class="content-container">
        <textarea id="inputText" placeholder="Input text here..."></textarea>
        <button id="validateButton">Validate</button>
        <textarea id="outputTextarea" placeholder="Output will appear here..." readonly></textarea>
    </div>

    <!--Script after clicking th validate button-->
    <script src="{{ url_for('static', filename='JS/index.js')}}"></script>
</body>
</html>